<!DOCTYPE html>

<html>
    <head>
        <title>Chrollo the Discord Bot</title>
        <meta property="og:type" content="website">
        <meta property="og:site_name" content="Chrollo">
        <meta property="og:title" content="Chrollo the Discord Bot">
        <meta property="og:description" content="A Powerful Discord Bot with almost every feature a server needs">
        <meta property="og:image" content="https://chrollo.hisoka17.repl.co/assets/chrollo_logo.jpg">
        <meta content="#eb347a" data-react-helmet="true" name="theme-color">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="dashboard/public/css/main.css">
        <link rel="preconnect" href="https://fonts.gstatic.com">
        <link href="https://fonts.googleapis.com/css2?family=Varela+Round&display=swap" rel="stylesheet">
        <link rel="icon" href="https://Chrollo.hisoka17.repl.co/assets/chrollo.png">
    </head>
    <body>
        <style>
            .navbar {
    overflow: hidden;
    background-color: #eb347a;
}
.navbar a {
    float: left;
    text-decoration: none;
    font-family: Varela Round;
    font-size: 16px;
    padding: 14px 17px;
    text-align: center;
    color: white;
}
.navbar a:hover {
    background-color: #f7c3eb;
    transition: 0.5s;
}
.title {
    font-size: 40px;
    position: absolute;
    top: 15%;
    right: 70%;
    color: #eb347a;
    font-family: Varela Round;
    font-weight: bold;
}
.chrollo {
    position: absolute;
    top: 43%;
    right: 7%;
}
.prefix {
    position: absolute;
    font-weight: bold;
    font-family: Varela Round;
    top: 40%;
    right: 47%;
}
.rounded-circle {
    position: absolute;
    top: 20%;
    right: 90%;
}
.dropdown {
  float: left;
  overflow: hidden;
}




.dropdown-content {
  display: none;
  position: absolute;
  top: 5%;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  float: none;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.dropdown-content a:hover {
  background-color: #ddd;
}

.dropdown:hover .dropdown-content {
  display: block;
}
        </style>
        <div class="navbar">
            <a href="/">Chrollo Bot</a>
            <a href="/commands">Commands</a>
            <a href="invite">Invite</a>
            <a href="/support">Support Server</a>
            <a href="https://anime-api.hisoka17.repl.co" target="_blank">API</a>
            <% if (user!==null){ %>
                <a href="/logout" style="float: right; font-family: Varela Round;">Logout</a>
                <a href="/profile" style="float: right;"><%= user.username %></a>
                <img src="<%= `https://cdn.discordapp.com/avatars/${user.id}/${user.avatar}` %>" style="width: 50px;   border-radius: 50%; float: right;">
                <a href="<%= `/server/${guild.id}` %>" style="float: right;  font-family: Varela Round;"><%= guild.name %></a>
                <% if (guild.icon) { %>
                    <img style="opacity: 1; border-radius: 50%; float: right; width: 50px;" src="https://cdn.discordapp.com/icons/<%= guild.id %>/<%= guild.icon %>"> 
                <% } else { %>
                    <img style="opacity: 1; border-radius: 50%; float: right; width: 50px;" src="https://discordapp.com/assets/6debd47ed13483642cf09e832ed0bc1b.png"> 
                <% } %>
                <div class="dropdown" style="float: right;">
                    <a class="dropbtn" href="/servers">Servers
                    <div class="dropdown-content">
                        <% for (const server of guilds){ %>
                            <a>
                                <% if (server.icon) { %>
                                <img style="opacity: 1; border-radius: 50%; float: right; width: 50px;" src="https://cdn.discordapp.com/icons/<%= server.id %>/<%= server.icon %>"> 
                                <% } else { %>
                                <img style="opacity: 1; border-radius: 50%; float: right; width: 50px;" src="https://discordapp.com/assets/6debd47ed13483642cf09e832ed0bc1b.png"> 
                                <% } %>
                                <a href="<%= `/server/${server.id}` %>"><%= server.name %></a>
                            </a>
                            <% } %>
                        </div>
                    </a>
                </a>
            </div>
            <% } else { %>
            <a href="/login" style="float: right;">Login</a>
            <% } %> 
        </div>
        <form role="form" action="/server/<%= guild.id %>" class="prefix" method="POST">
        <p style="background-color: #eb347a;">Your Current Prefix: <span style="color: white; font-size: large;"><%= settings.get(`prefix_${guild.id}`)!==null?settings.get(`prefix_${guild.id}`):'mk?' %></span></p>
        <input type="text" placeholder="New Prefix" name="prefix" style="background-color: #eb347a; color: #f7c3eb;">
        </form>
        </div>
    </body>